@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap');

/* ESTILOS EN GENERAL */

.default-header {
    height: 150px;
    width: 100%;
    /* Le pongo un display flex para poder centrarlo verticalmente */
    display: flex;
    /* Al cambiar la direccion, ahora tengo que usar el justify-content para cambiar el eje vertical */
    flex-direction: column;
    justify-content: space-around;
}

/* ESTILOS DE LA BARRA DE NAVEGACION */

.nav-menu {
    margin: 20px 0px;
    width: 90%;
    align-self: center;
}


.AgregarJuegos__div p {
    margin: 0;
}

.AgregarJuegos__div {
    margin: 20px 0px;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-menu__li__carrito i {
    margin-right: 10px;
    font-size: 25px;
}

.nav-menu__li__carrito a {
    color: #0f7294;
    opacity: 0;
    position: absolute;
}

    .nav-menu__li__carrito a:hover {
        animation: slideright 3s ease forwards infinite;
        animation-iteration-count: 1;
    }

@keyframes slideright {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(50px);
        opacity: 1;
    }

    to {
        transform: translateX(50px);
        color: #0f7294;
        opacity: 1;
    }
}

.nav-menu__ul {
    border-radius: 100px;
    box-shadow: 0px 0px 20px #8a8a8a;
    width: 100%;
    height: 50px;
    /* COLORES */
    background: white;
    color: #0f7294;
    /* TEXTO */
    font-weight: bolder;
    text-transform: uppercase;
    /* DISPLAY */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

    .nav-menu__ul li {
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .nav-menu__ul a:hover {
        text-decoration: underline;
    }

.section-div p {
    margin-bottom: 0;
}

.section-div input {
    margin-bottom: 15px;
}

.seleccionado {
    background: #0f7294;
    padding: 5px;
    border-radius: 30px;
    color: white;
    border: #0f7294 3px solid;
    box-shadow: inset 0px 0px 0px 2px #ffffff;
}
