section {
    background: #2121217a;
    min-height: 200px;
    width: 80%;
    margin: 20px auto;
}

#form1 {
    height: 100vh;
}

section p {
    color: white;
}

#sectionCompra {
    height: auto;
}

.titulo__section {
    text-align: center;
    padding: 20px;
    background: #1d1d1d;
    font-size: 20px;
    color: #e0e0e0;
}

section h1 {
    margin: 0;
}


.detalles_compra table {
    color: black;
    background: white;
    text-align: center;
    margin: 0 auto;
}

    .detalles_compra table th, td {
        padding: 2px 20px;
    }

.wrapper__compra {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 600px;
}

#wrapperDiv {
    border: #b7b7b7 solid 2px;
    padding: 10px;
    display: flex;
    width: 800px;
    justify-content: space-around;
}

.wrapper-div-content p {
    margin: 0;
}

.wrapper-div-content {
    height: 70px;
    margin: 15px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

    .wrapper-div-content span {
        color: #ff6262;
    }

#lblMonto {
    color: white;
}

    #lblMonto:before {
        content: "$ "
    }

#lblTarjetaUsuario {
    font-weight: 500;
    color: #9cfbab;
    text-align: center;
}

#lbl_confirmacionAgregarMP {
    color: #ffda9b;
}

#lbl_tipo {
    color: #2e87dc;
    text-transform: uppercase;
    font-weight: bold;
}

#lblInicioSesionCompra {
    color: white;
    text-align: center;
    margin-top: 50px;
}

#VerCompra {
    font-size: 25px;
    margin-top: 20px;
    display: none;
    text-align: center;
}

    #VerCompra a {
        color: Aquamarine;
    }