body {
}
.Section_Catalogo {
    width: 100%;
    padding-right: 310px;
}

.DataList_div {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
}

    .DataList_div img {
        width: 100%;
        height: 250px;
        background: green;
        position: relative;
        bottom: 43px;
    }


.Div_Nombre_Precio {
    width: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 250px;
    background: #0000007d;
    align-items: center;
}


._Titulo {
    font-size: 20px;
}