section {
    background: #2121217a;
    min-height: 200px;
    width: 80%;
    margin: 20px auto;
}

#form1 {
    height: 100vh;
}

section p {
    color: white;
}

#sectionCompra {
    min-height: 180px;
}

.titulo__section {
    text-align: center;
    padding: 20px;
    background: #1d1d1d;
    font-size: 20px;
    color: #e0e0e0;
}

section h1 {
    margin: 0;
}


.detalles_compra table {
    color: black;
    background: white;
    text-align: center;
    margin: 0 auto;
}

    .detalles_compra table th, td {
        padding: 2px 20px;
    }

.wrapper__compra {
    width: 100%;
    display: flex;
    margin: 0 auto;
    height: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wrapper-div {
    width: 300px;
    */ display: flex;
    position: relative;
}

    .wrapper-div p {
        margin: 0;
        padding: 10px 0px;
        text-align: left;
    }

input[type=submit] {
    margin: 0 auto;
    width: 150px;
    border-radius: 3px;
}
