body {
}
.Section_Catalogo {
    width: 100%;
    padding-right: 310px;
}

.DataList_div {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
}

.DataList_div input {
    width: 100%;
    height: 250px;
        background: green;
    position: relative;
    bottom: 43px;
}

.DataList_div input[type=image]:hover {
    opacity: 0.6;
}

.Div_Nombre_Precio {
    width: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 250px;
    background: #0000007d;
    align-items: center;
}

.Cuadro_Catalogo {
    background: #3a3a3a87;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    width: 470px;
}


._Titulo {
    font-size: 20px;
}
