/* ESTILOS DEL MAIN HEADER */

#mainHeader {
    height: 75px;
    width: 100%;
    /* Le pongo un display flex para poder centrarlo verticalmente */
    display: flex;
    /* Al cambiar la direccion, ahora tengo que usar el justify-content para cambiar el eje vertical */
    flex-direction: column;
}

aside {
    position: absolute;
    left: -21%;
    background: #1d1d1d;
    width: 250px;
    color: #ffffff;
    text-align: center;
    border-radius: 12px;
}

#cbl_Categorias {
    margin: 0;
    width: 100%;
    padding: 30px 0;
}

#cbl_Categorias tr td {
    display: flex;
    justify-content: center;
}

#cbl_Categorias tr td input {
    margin-right: 20px;
}

#cbl_Categorias tr td label {
    width: 162px;
    text-align: left;
}

/* ESTILOS PARA EL WRAPPER DEL DIV DEL INICIO DE SESION */

#mainHeader__content {
    height: 130px;
    width: 100%;
    display: flex;
}

.main-header__content__log-in {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    border: 2px solid #5f5f5f;
    margin-left: 15%;
}

.titulo-section {
    text-align: center;
    font-size: 25px;
    margin: 0;
    background: #1d1d1d;
    color: #e0e0e0;
    padding: 20px;
}


.header-botones {
    width: 260px;
}

.header-botones a {
    color: #7f7fd4;
    text-decoration: underline
}

.header-botones input[type=submit], #header_btn_LogOut, #btnBuscar {
    background: #2d418c;
    border: none;
    border-radius: 9px;
    padding: 3px;
    color: white;
    cursor: pointer;
}


#header_btnLogIn {
    width: 100px;
}

#header_btn_LogOut {
    width: 100px;
}

.main-header__content__div {
    display: flex;
    justify-content: space-between;
}

    .main-header__content__div span {
        width: 115px;
        height: 20px;
    }


/* SECTION  --------------- */

section {
    height: auto;
    background: #2121217a;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px auto;
    position: relative;
}


/* MEDIA QUERY  --------------- */

@media only screen and (max-width: 768px) {
    section {
        width: 90%;
    }
}

.pInicio__admin-opc {
    color: #e25a7c;
    font-weight: bold;
    background: #1d1d1d;
    padding: 10px;
    width: 250px;
    text-align: center;
}

    .pInicio__admin-opc:hover {
        text-decoration: underline;
    }

.JuegosDestacados__container {
    margin: 50px 0px;
    display: flex;
    width: 100%;
    min-height: 1100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* CADA TARJETA DE LOS JUEGOS DESTACADOS */

.lvJuegosDestacados-div {
    margin: 5px 10px;
    color: white;
    position: relative;
    width: 460px;
    height: 215px;
    border-radius: 10px;
    box-shadow: 11px 16px 13px #131313;
}


.lvJuegosDestacados-div input[type=image] {
    border-radius: inherit;
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 768px) {
    .lvJuegosDestacados-div {
        width: 400px;
        margin: 20px 10px;
    }

    .lvJuegosDestacados-div input[type=image] {
        width: 400px;
    }
}


.lvJuegosDestacados-div__desc {
    padding: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #1e1e21e0;
    border-radius: inherit;
}

/*PRECIOS DE LOS JUEGOS DESTACADOS*/

/*PRECIO POR DEFAULT*/

.lvJuegosDestacados-div__desc__precio {
    color: #91de95;
    display: flex;
    justify-content: space-between;
    width: 50%
}

.precio_tachado {
    text-decoration: line-through;
    color: #d41414
}

.lvJuegosDestacados-div__desc h1, p {
    margin: 0;
}

.lvJuegosDestacados-div__descto {
    background: #409a40;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 30px;
    width: 100px;
    text-align: center;
}

/* LIST VIEW CATEGORIAS =====================*/

#lvListCat_lvListCatWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.lvListCat__div {
    width: 300px;
    height: 140px;
    background: #000;
    margin: 10px;
    border-radius: 8px;
    position: relative;
}


.lvListCat__div .imgAnimated {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.lvListCat__div__info {
    position: absolute;
    *display: flex;
    width: 100%;
    display: none;
    z-index: 1;
}

/* ESTILOS DE LOS LABEL INTERNOS DE LAS CARTAS */

.infoNombre_lv {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.infoPrecio_lv {
    background: green;
    color: white;
    padding: 6px;
    border-radius: 15px;
}

/* EL SIGNO DE DOLAR PARA EL PRECIO */

.infoPrecio_lv::before {
    content: "$ ";
}

.infoPrecio_lv::after {
    content: " USD";
}

/* ANIMACIONES CUANDO PASAS EL MOUSE POR LA CARTA */

.lvListCat__div:hover {
    box-shadow: 0px 0px 10px #ffffff;
    width: 320px;
    height: 160px;
    transition: all 0.2s ease-in-out;
}


.lvListCat__div:hover .lvListCat__div__info {
    display: flex;
    top: 30%;
    transition: all 0.2s ease-in-out;
    flex-direction: column;
    align-items: center;
}

.imgAnimated:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}

.lvListCat__div__info:hover + .imgAnimated {
    opacity: 0.5;
}
