/* ESTILOS DEL MAIN HEADER */

#mainHeader {
    height: 240px;
    width: 100%;
    /* Le pongo un display flex para poder centrarlo verticalmente */
    display: flex;
    /* Al cambiar la direccion, ahora tengo que usar el justify-content para cambiar el eje vertical */
    flex-direction: column;
    justify-content: space-around;
}


/* ESTILOS PARA EL WRAPPER DEL DIV DEL INICIO DE SESION */

#mainHeader__content {
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
}

#li_infoUsuario {
    color: #a282ab;
}

.main-header__content__log-in {
    margin-left: 50px;
    width: 450px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#pInicio-h1 {
    text-align: center;
    font-size: 40px;
}

.header-botones {
    width: 260px;
}

    .header-botones a {
        color: #7f7fd4;
        text-decoration: underline
    }

    .header-botones input[type=submit] {
        background: #2d418c;
        border: none;
        border-radius: 9px;
        padding: 3px;
        color: white;
        cursor: pointer;
    }


#header_btnLogIn {
    width: 100px;
}

#header_btn_LogOut {
    width: 100px;
}

.main-header__content__div {
    display: flex;
    justify-content: space-between;
}

    .main-header__content__div span {
        width: 115px;
        height: 20px;
    }

.pInicio {
    padding-top: 10px;
    height: auto;
    background: #ececec;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pInicio__admin-opc {
    margin: 0px 0px 20px 30px;
    color: #af0707;
    font-weight: bold;
}

    .pInicio__admin-opc:hover {
        text-decoration: underline;
    }

.JuegosDestacados__container {
    display: flex;
    width: 100%;
    height: 750px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lvJuegosDestacados-div {
    margin: 5px 10px;
    color: white;
    border-radius: 5px;
    position: relative;
    width: 460px;
    height: 215px;
    border-radius: 10px;
    box-shadow: -10px 5px 10px #a0a0a0;
}

.lvJuegosDestacados-div__desc {
    padding: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #1e1e21e0;
    border-radius: inherit;
}

.lvJuegosDestacados-div__desc__precio {
    color: #90d293;
    display: flex;
    justify-content: space-between;
    width: 45%
}

.lvJuegosDestacados-div__desc h1, p {
    margin: 0;
}

.precio_tachado {
    text-decoration: line-through;
    color: #c18282ae;
}

.lvJuegosDestacados-div input[type=image] {
    border-radius: inherit;
    width: 100%;
    height: 100%;
}

.lvJuegosDestacados-div__descto {
    background: #409a40;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 30px;
    width: 100px;
    text-align: center;
}
