.pInfoUsuario {
    display: flex;
    height: 350px;
}

.pCuadro_Usuario {
    background: #3a3a3a89;
    border: 1px solid #3a3a3a89;
    width: 400px;
    height: 300px;
    margin: auto;
    border-radius: 10px;
    position: relative;
    padding: 10px;
}

    .pCuadro_Usuario h1 {
        color: #cbd8d4;
    }

.Usuario_Descripcion p, span {
    display: inline-block;
}

.Usuario_Descripcion p {
    color: aquamarine;
}

.Usuario_Descripcion input[type="submit"] {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #dec4ea;
    background: #484848;
    border-radius: 5px;
    border: 1px;
    width: 100px;
    height: 25px;
}

    .Usuario_Descripcion input[type="submit"]:hover {
        cursor: pointer;
        font-size: 14px;
        box-shadow: 0px 0px 10px black;
        font-weight: bold;
    }

#btn_cancelar_IU {
    margin: auto 160px;
}

#lbl_msg_IU {
    margin-top: 25px;
}
