.Cuadro_Opciones {
    display: flex;
    justify-content: space-evenly;
}

.Cuadro_Opciones a {
    color: aquamarine;
    padding-left: 50px;
    padding-right: 50px;
    background: #3a3a3a89;
    border: 1px solid #3a3a3a89;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}

    .Cuadro_Opciones a:hover {
        box-shadow: 5px 5px 5px #333232;
        background: linear-gradient(153deg, rgb(156 83 173) 26%, rgb(116 44 130) 68%, rgba(57,48,58,1) 81%);
    }


.S_Keys {
    display: flex;
    margin-top: 50px;
    padding-left: 100px;
    justify-content: flex-start;
}

.Cuadro_Keys {
    color: aquamarine;
    width: 450px;
    height: 320px;
    margin: 20px;
    padding-left: 0px;
    box-shadow: 0px 0px 15px #3b3240;
    background: #3a3a3a87;
    border-radius: 5px;
}

.Interior_Keys {
    margin: 10px;
}

.Interior_Keys p {
    margin: 5px 0px;
}

.Interior_Keys h1 {
    color: #cbd8d4;
}


.Interior_Keys_Div {
    width: 100%;
    margin-bottom: 0px;
}

    .Interior_Keys_Div p, span {
        display: inline-block;
    }

#rfvJuego {
    display: inline-block;
}

.Cuadro_Keys input[type="submit"] {
    color: #dec4ea;
    background: #484848;
    border-radius: 5px;
    border: 1px;
    width: 75px;
    height: 20px;
}

    .Cuadro_Keys input[type="submit"]:hover {
        cursor: pointer;
        color: #dec4ea;
        background: #311027;
        border-radius: 5px;
    }

#lbl_key{
    color:#311027;
}

#RequiredFieldValidator1 {
    color: #311027;
}